body {
  margin: 3rem;
  background-color: black;
  color: #aaa;
  font-size: larger;
  font-family: monospace;
}
.condition {
  font-size: 1.2rem;
}
button:disabled {
  outline: none;
  border-style: none;
  color: #807e7e;
}

button,
button:focus {
  color: #aaa;
  background: none;
  border-style: solid;
  outline: none;
}

input {
  border-radius: 0;
  border: 0.5px solid #aaa;
  background-color: black;
  color: #aaa;
  outline: none;
}
input:disabled {
  border-color: #585858;
}
#task {
  white-space: pre;
}
